/* Use Universal Selector to reset default settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    text-align: center;
    background-color: #ebac76;
    padding: 1px;
}
header h1 {
    color: #936639;
    font-family:'Segoe UI';
    margin: 10px 0;
}
header h2 {
    color: rgb(154, 75, 47);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 0;
}
main {
    width: 100%;
    height: 100vh;
    padding: 50px 0;
    background-color:#cdd1b1;
}
.container {
    width: 80%;
    margin: 0 auto;
    overflow:auto;
    border-radius: 6px;
}
table {
    border-collapse: collapse;
}

th, td {
    white-space: nowrap;
    border: 1px solid #ddd;
    padding: 15px 10px;
    text-align: center;
    color: #5d453b;
    font-weight: 100;
}

td:nth-child(even) {
    background-color: #f8edeb;
}
td:nth-child(odd) {
    background-color: #ffe5d9;
}

th {
    font-size: 15px;
    background-color: #fec89a;
    cursor: pointer;
    font-weight: bold;
}
th:hover {
    background-color: #ffd7ba;
}

/* Action Buttons Styling */
.action-btns {
    padding: 3px 10px;
    cursor: pointer;
    margin-top: 3px;
    display: inline-block;
    color: white;
    font-size: 16px;
    background-color: #a68a64;
    border: #a68a64;
    border-radius: 5px;
}
.action-btns:hover {
    background-color: #936639;
}

::-webkit-scrollbar {
    width: 0;
}


.actions {
    width: 10vw;
}